.app {
    padding: 30px;
    background: #fff;
    border-radius: 5px;
}

.title {
    color: #333333;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 4px;
}